/*Spider*/
    .spider {
        position: absolute;
        display: inline-block;
        top: 0;
        left: 30%;
        
        transition: .5s ease-in-out;

    /*animate*/
        animation: swing .5s infinite;
        transform-origin: top;
    }

    .spider .spiderweb {
        width: 2px;
        height: 200px;
        margin-left: 49px;
        background: rgba(255,255,255, .7);
    }

    .spider .body {
        width: 100px;
        height: 80px;
        background: black;
        position: relative;
        border-radius: 50%;
    }

    .spider .body .eye {
        width: 33px;
        height: 33px;
        position: absolute;
        bottom: 20px;
        background: #fff;
        border-radius: 50%;
    }

    .spider .body .eye.left {
        left: 15px;
    }

    .spider .body .eye.right {
        right: 15px;
    }

    .spider .body .eye:after {
        background: purple;
        width: 7px;
        height: 7px;
        content: '';
        display: block;
        margin: 55%;
        border-radius: 50%;
    }

    .spider .legs .leg {
        width: 80px;
        height: 40px;
        margin-top: -20px;
        border: 5px solid transparent;
        border-top-color: #000;
        border-radius: 40px 40px 0 0;
    }

    .spider .legs {
        position: absolute;
        bottom: -10%;
        z-index: -1;
    }

    .spider .legs.left {
        left: -70%;
    }
    .spider .legs.right {
        right: -60%;
    }


    .legs.left .leg:nth-child(1){
        transform: rotate(10deg);
        margin-left: 10px;
    }
    .legs.right .leg:nth-child(1){
        transform: rotate(-10deg);
        margin-left: -10px;
    }


    .legs.left .leg:nth-child(2){
        transform: rotate(-20deg);
        margin-left: 20px;
    }
    .legs.right .leg:nth-child(2){
        transform: rotate(20deg);
        margin-left: -20px;
    }


    .legs.left .leg:nth-child(3){
        transform: rotate(-50deg);
        margin-left: 30px;
    }
    .legs.right .leg:nth-child(3){
        transform: rotate(50deg);
        margin-left: -30px;
    }

    @keyframes look {
        0%, 40%, 100% {
            transform: translateX(0);
        }
        45%, 95%, {
            transform: translateX(-110%);
        }
    }

    @keyframes swing {
        0%, 100%, {
            transform: translateY(0);
        }

        50% {
            transform: translatey(-20px);
        }
    }
/*End Spider*/


.navbar {
    background-color: transparent;
    font-size: 20px;
    z-index: 1;
    position: fixed;
    width: 100%;
    top: 0;
}

.nav-link {
    margin: 5px;
    color: #f7941e;
    font-weight: 500;
}

.nav-link:hover {
    color: #b99bd3;
}

.section {
    min-height: 100vh;
    display: flex;
}

.section1 {
    background-image: url(images/halloween-background.jpeg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    min-height: 100vh; 
    z-index: -1;
}

.headerDiv {
    margin-top: 40vh;
}

.headerh1, .headerh4 {
    color: white;
}

.headerh1-2, .headerh4-2 {
    color: #f7941e;
}