/*Spider*/
.spider {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 30%;

    transition: .5s ease-in-out;

    /*animate*/
    animation: swing .5s infinite;
    transform-origin: top;
}

.spider .spiderweb {
    width: 2px;
    height: 200px;
    margin-left: 49px;
    background: rgba(255, 255, 255, .7);
}

.spider .body {
    width: 100px;
    height: 80px;
    background: black;
    position: relative;
    border-radius: 50%;
}

.spider .body .eye {
    width: 33px;
    height: 33px;
    position: absolute;
    bottom: 20px;
    background: #fff;
    border-radius: 50%;
}

.spider .body .eye.left {
    left: 15px;
}

.spider .body .eye.right {
    right: 15px;
}

.spider .body .eye:after {
    background: purple;
    width: 7px;
    height: 7px;
    content: '';
    display: block;
    margin: 55%;
    border-radius: 50%;
}

.spider .legs .leg {
    width: 80px;
    height: 40px;
    margin-top: -20px;
    border: 5px solid transparent;
    border-top-color: #000;
    border-radius: 40px 40px 0 0;
}

.spider .legs {
    position: absolute;
    bottom: -10%;
    z-index: -1;
}

.spider .legs.left {
    left: -70%;
}

.spider .legs.right {
    right: -60%;
}


.legs.left .leg:nth-child(1) {
    transform: rotate(10deg);
    margin-left: 10px;
}

.legs.right .leg:nth-child(1) {
    transform: rotate(-10deg);
    margin-left: -10px;
}


.legs.left .leg:nth-child(2) {
    transform: rotate(-20deg);
    margin-left: 20px;
}

.legs.right .leg:nth-child(2) {
    transform: rotate(20deg);
    margin-left: -20px;
}


.legs.left .leg:nth-child(3) {
    transform: rotate(-50deg);
    margin-left: 30px;
}

.legs.right .leg:nth-child(3) {
    transform: rotate(50deg);
    margin-left: -30px;
}

@keyframes look {

    0%,
    40%,
    100% {
        transform: translateX(0);
    }

    45%,
    95%,
    {
    transform: translateX(-110%);
}
}

@keyframes swing {

    0%,
    100%,
    {
    transform: translateY(0);
}

50% {
    transform: translatey(-20px);
}
}

/*End Spider*/



.font-main {
    font-family: "Creepster", system-ui;
    font-size-adjust: 0.9;
}


.font-alt {
    font-family: "Rubik", sans-serif;
}


.navbar {
    background-color: transparent;
    font-size: 20px;
    z-index: 1;
    width: 100%;
    top: 0;
    transition: background-color 0.3s ease-in-out
}

.navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.70); 
}



.nav-link {
    margin: 5px;
    color: #f7941e;
    font-weight: 500;
    font-size: 25px;
}

.nav-link:hover {
    color: #b99bd3;
}

.section {
    min-height: 100vh;
    display: flex;
}

.section1 {
    background-image: url(images/halloween-background.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    z-index: -1;
}

.section2 {
    background: linear-gradient(to top, #b99bd3, black);
    color: #f7941e;
}

.headerDiv {
    margin-top: 40vh;
}

.headerh1,
.headerh4 {
    color: white;
}

.headerh1-2,
.headerh4-2 {
    color: #f7941e;
}

#headerText {
    display: none;
}

#headerText2 {
    display: none;
}

.spider {
    display: none;
}

.text-col {
    color: #b99bd3;
    font-weight: bold
}

.col-header {
    color: #f7941e;
}

.wrapper {
    width: 100%;
    height: 100%;
}

/*arrow from https://codepen.io/jltk/pen/QEaxMx */

.arrow {
    display: none;
    width: 38px;
    height: 14px;
    margin: auto;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0.5;
    transition: ease 1s;
    -webkit-animation: bouncey 1.6s linear infinite;
    animation: bouncey 1.6s linear infinite;
}

.arrow ul {
    list-style: none;
}

.arrow ul li {
    width: 24px;
    height: 4px;
    background: #f7941e;
}

.arrow ul li:nth-child(1) {
    left: 0;
    top: 0;
    position: absolute;
    transform: rotate(45deg);
    border-radius: 5px 0 0 5px;
}

.arrow ul li:nth-child(2) {
    left: 14px;
    position: absolute;
    border-radius: 0 5px 5px 0;
    top: 0;
    transform: rotate(-45deg);
}

.arrow:hover {
    opacity: 1;
}

@-webkit-keyframes bouncey {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(4px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes bouncey {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(4px);
    }

    100% {
        transform: translateY(0);
    }
}


.toggle-content {
    display: none;
}

.custombtn {
    background-color: #f7941e; 
    color: black; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    font-size: 30px; /
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

.custombtn:hover {
    background-color: #ce7d1b; 
    color: white;
}



/*SHOWCASE PAGE*/

.section-showcase-background {
    background-image: url(images/halloween-background.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    z-index: -1;
}

.customPadding {
    padding-top: 100px;
}

.customBorder {
    border: 2px solid #f7941e;
}

.image-wrapper {
    position: relative;
    display: inline-block;
}

.description {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:rgba(0, 0, 0, 0.863);
    color: #f7941e;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    display: none; 
    opacity: 0.8;  
}

.img-fluid {
    display: block;
    width: 100%;
    height: auto;
}


.showcaseHeader {
    color: #f7941e;
}

.showcaseIMG {
    transition: transform 0.3s ease-in-out;  
}

.showcaseIMG:hover {
    transform: scale(1.01);  
}